<!DOCTYPE html>
<html>
<head>
    <title>소비내역 추가</title>
</head>
<header>
    <link rel="stylesheet" href="header.css">
    <h1>소비내역 추가</h1>
</header>
<body>
    <form action = "http://127.0.0.1:5000/result" method="post">
        <label for="date">날짜:</label>
        <input type="date" id="date" required><br><br>

        <label for="category">카테고리:</label>
        <head></head>
        <body>
            <select>
                <option value="food">식비</option>
                <option value="cafe">카페</option>
                <option value="shopping">쇼핑</option>
                <option value="culture">문화</option>
                <option value="traffic">교통</option>
                <option value="travel">여행</option>
                <option value="medical">의료</option>
            </select>
        </body><br><br>

        <label for="price">소비금액:</label>
        <link rel="stylesheet" href="placeholder.css">
        <input type="number" id="price" placeholder="숫자만 입력하세요" required>원<br><br>

        <label for="place">사용처:</label>
        <input type="text" id="place" required><br><br>

        <input type="submit" value="추가하기">
    </form>
</body>
</html>
