{% extends "layout.html" %}

{% block header_content %}과소비 알리미{% endblock %}

{% block content %}
    <style>

        .image-container {
            display: flex;
            justify-content: center; /* 수평 중앙 정렬 */
            align-items: center;
            margin-top: 50px;
        }

        .alarm-image {
            width: 300px; /* 이미지 너비 조정 */
            height: auto; /* 이미지 높이 자동으로 조정 */
        }

        .message-container {
            text-align: center;
            margin-top: 200px; /* 상단 여백 조정 */
            font-size: 22px; /* 폰트 크기 조정 */
        }

    </style>

<div class="image-container">
    <img src=../static/img/alarm.png alt=알람 class="alarm-image">
</div>

<div class="message-container">
    <h3>{{ message | safe }}</h3>
</div>


{% endblock %}