{% extends "layout.html" %}

{% block header_content %}챗봇과 대화해보세요!{% endblock %}

{% block content %}

<div class="chat-container">
    <div class="chat-header">finchatbot</div>
    <div class="chat-body" id="chatBody">

        <div id="messageContent">
            <!-- 대화 메시지가 여기에 추가됩니다 -->

            <div class="message bot-message"> {{ initial_message|safe }} </div>

            {% if system_message %}
            <div class="message bot-message" id="responseMessageContent">
                {{ system_message }}
            </div>
            <div class="message bot-message" id="loadingMessage" style="display: none;">
                로딩 중...
            </div>
            {% endif %}

        </div>

        <div class="input-container" id="inputContainer">
            <form method="POST" action="/counsel" onsubmit="return sendUserInput()">
                <input type="text" id="user_input" name="user_input" placeholder="원하시는 내용을 입력해주세요">
                <button type="submit">입력 완료</button>
            </form>
        </div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<script>

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    function displayMessage(message, className) {
        var messageContent = document.getElementById('messageContent');
        if (messageContent) {
            var newMessage = document.createElement('div');
            newMessage.className = 'message ' + className;
            newMessage.textContent = message;
            messageContent.appendChild(newMessage);

            // 스크롤을 가장 아래로 이동
            document.getElementById('chatBody').scrollTop = document.getElementById('chatBody').scrollHeight;
        }
    }

    // 초기 메시지 표시
    displayMessage("{{ initial_message|safe }}", 'bot-message');

    function sendUserInput() {
        const userInput = document.getElementById('user_input').value;

        // 로딩 메시지 표시
        showLoadingMessage();

        socket.emit('user_input', { message: userInput });

        // 사용자 메시지를 추가
        displayMessage('사용자: ' + userInput, 'user-message');
    }

    socket.on('user_input_response', function (data) {
        hideLoadingMessage();

        if (data.bot_message) {
            // 챗봇 응답을 추가
            displayMessage('챗봇: ' + data.bot_message, 'bot-message');
        }
    });

    // 로딩 메시지 표시
    function showLoadingMessage() {
        var loadingMessage = document.getElementById('loadingMessage');
        if (loadingMessage) {
            loadingMessage.style.display = 'block';
        }
    }

    // 로딩 메시지 숨기기
    function hideLoadingMessage() {
        var loadingMessage = document.getElementById('loadingMessage');
        if (loadingMessage) {
            loadingMessage.style.display = 'none';
        }
    }

</script>

{% endblock %}