{% extends "layout.html" %}

{% block header_content %}챗봇과 대화해보세요!{% endblock %}

{% block content %}
    <style>
        #chat-container {
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 10px;
            max-width: 700px;
            margin: auto;
            background-color: #f9f9f9;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            height: 80vh; /* 화면 세로 길이 전부 차지 */
        }

        #chat {
            height: 600px;
            overflow-y: scroll;
            border-bottom: 1px solid #eee;
            margin-bottom: 5px;
            padding-bottom: 5px;
        }

        #user-input {
            width: 70%;
            padding: 8px;
            margin-right: 5px;
            border: 1px solid #ddd;
            border-radius: 5px;
            height: 33px;  
            font-size: 15px;      
        }

        button {
            padding: 5px 15px;
            cursor: pointer;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 5px;
            height: 48px;
            font-size: 17px;
            margin-right: 40px;
        }

        p {
            margin: 5px 0;
            padding: 8px;
            border-radius: 5px;
            max-width: 80%;
            word-wrap: break-word;
            margin-bottom: 15px;
            white-space: pre-line; /* 줄바꿈 유지 설정 */
            font-size: 20px;
        }

        p.user-message {
            background-color: #4CAF50;
            color: white;
            align-self: flex-end;
        }

        p.bot-message {
            background-color: #2196F3;
            color: white;
        }

        #user-input-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 10px;
        }
    </style>


<div id="chat-container">
    <div id="chat">
        <p class="bot-message"> {{ initial_message }}</p>
    </div>
    <div id="user-input-container">
        <input type="text" id="user-input" placeholder="원하시는 내용을 입력해주세요">
        <button onclick="sendMessage()">입력 완료</button>
    </div>
</div>

<script>

    function sendMessage() {
        var userMessage = document.getElementById('user-input').value;
        document.getElementById('chat').innerHTML += '<p class="user-message"><strong>User:</strong> ' + userMessage + '</p>';
        document.getElementById('user-input').value = '';

        // 표시할 로딩 메시지
        var loadingMessage = '<p class="bot-message"><strong>머니버디:</strong> 당신에게 맞는 최적의 조언을 불러오는 중...</p>';
        document.getElementById('chat').innerHTML += loadingMessage;


        // Send the user message to the backend
        fetch('/get_response', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: 'user_message=' + encodeURIComponent(userMessage),
        })
            .then(response => response.json())
            .then(data => {
                var botResponse = data.bot_response;

                // 로딩 메시지 갱신
                document.getElementById('chat').innerHTML = document.getElementById('chat').innerHTML.replace(loadingMessage, '');
                
                document.getElementById('chat').innerHTML += '<p class="bot-message">' + botResponse + '</p>';
            });
    }
</script>

{% endblock %}