<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>평균 소비</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>

<body>
    <header class="top-bar">
        <h1>{% block header_content %}기본 헤더{% endblock %}</h1>
    </header>
    
    <main class="content-container">
    {% block content %}{% endblock %}  <!-- 내용 부분을 여기에 삽입 -->
    </main>

    <div class="chat-icon-container">
        <a href="/chat" class="chat-icon">
            <img src="../static/img/chatbot.png" alt="챗봇" style="width: 110px; height: 110px; border-radius: 50%;">
        </a>
    </div>

    <div class="bell-icon-container">
        <a href="/alarm" class="bell-icon">
            <img src="../static/img/bell.png" alt="과소비알리미" style="width: 110px; height: 110px; border-radius: 50%;">
            <div class="badge {% if badge_notification %}block{% else %}none{% endif %}">!</div>
        </a>
    </div>

    <footer class="bottom-bar">
        <nav class="button">
            <img src="../static/img/menu.png" alt="메뉴">
        </nav>
        <nav class="button">
            <a href="/graph">
            <img src="../static/img/home.png" alt="홈">
            </a>
        </nav>
        <nav class="button">
            <a href="/index">
                <img src="../static/img/graph.png" alt="그래프">
            </a>
        </nav>
    </footer>
</body>

</html>