<!DOCTYPE html>
<html>
<head>
    <title>로그인</title>
    <link rel="stylesheet" href="../static/css/styles2.css">

    <style>
        #log {text-align: center;} 
        .container {
             padding: 100px;
             display: flex;
             flex-direction: column; /* 내부 요소를 수직으로 정렬 */
             align-items: center; /* 수평 가운데 정렬 */
             justify-content: center; /* 수직 가운데 정렬 */
             width: 200px; /* 가로 너비 */
             margin: 100px auto; /* 수평 가운데 정렬 */
         }
         h3 {text-align: center;}
     </style>
</head>
<body>
    <header class="top-bar">
        <div>
            <h1>로그인</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <form method="post">
                <label for="username">아이디:</label>
                <input type="text" name="username" id="username" required><br><br>

                <label for="password">패스워드:</label>
                <input type="password" name="password" id="password" required><br><br>

                <input type="submit" value="로그인">
            </form>
        </div>
    </main>
    <footer class="bottom-bar">
        <br><br>
    </footer>
</body>
</html>