<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maxinum-scale=1, user-scalable=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.6/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
		
		<title>상세 소비내역</title>
	</head>
	<body>

	<div class="container">
	<br><h1><strong><a style="color:#110957;">상세 소비내역</a></strong></h1>
	<form class="form-signin" method="POST" action="/select"> 
		<select name="category" onformchange="this.form.submit()">
            <option value="식비" name="food">식비</option>
            <option value="쇼핑" name="shopping">쇼핑</option>
            <option value="문화" name="culture">문화</option>
            <option value="교통" name="traffic">교통</option>
            <option value="여행" name=travel>여행</option>
            <option value="의료" name="medical">의료</option>
        </select>
		<input type="submit" value="적용"> 카테고리: {{ category }} <span style="margin-right: 10px;"></span> 합계: {{ price }} 원
	</form>
	<table class="table table-hover">
		<thead>
		<tr>
			<th>사용자</th>
			<th>날짜</th>
			<th>카테고리</th>
			<th>가격</th>
			<th>사용처</th>
		</tr>
		</thead>

		<tbody>
		{% for data in datalist %}
		<tr>
			<td>{{data['username']}}</td>
			<td>{{data['add_date']}}</a></td>
			<td>{{data['add_category']}}</td>
			<td>{{data['add_price']}}</td>
			<td>{{data['add_place']}}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	</div>
	</body>
</html>